<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Fart</string>
	<string>Design</string>
	<string>Typography</string>
	<string>Interior &amp; Architecture</string>
	<string>Photography</string>
	<string>Lifestyle</string>
</array>
</plist>
